- provide :body_class, "nav-md"

.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Edit profile
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal form-label-left", multipart: true }) do |f|

                = devise_error_messages!

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "first_name"}
                    First name
                  .col-md-6.col-sm-6.col-xs-12
                    %input#first_name.form-control.col-md-7.col-xs-12{:type => "text", :name => "user[first_name]", :id => "user_first_name", :value => current_user.first_name}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "last_name"}
                    Last name
                  .col-md-6.col-sm-6.col-xs-12
                    %input#last_name.form-control.col-md-7.col-xs-12{:type => "text", :name => "user[last_name]", :id => "user_last_name", :value => current_user.last_name}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "address"}
                    Address
                  .col-md-6.col-sm-6.col-xs-12
                    %input#address.form-control.col-md-7.col-xs-12{:type => "text", :name => "user[address]", :id => "user_address", :value => current_user.address}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "avatar"}
                    Avatar
                  .col-md-6.col-sm-6.col-xs-12
                    = image_tag avatar_url
                    %input#avatar{:type => "file", :name => "user[avatar]", :id => "user_avatar"}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "user_password"}
                    New password
                  .col-md-6.col-sm-6.col-xs-12
                    %input#user_password.form-control.col-md-7.col-xs-12{:name => "user[password]", :type => "password"}/
                    .help-block
                      %i Let it blank if you don't want to change
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "password_confirmation"}
                    Password confirmation
                  .col-md-6.col-sm-6.col-xs-12
                    %input#password_confirmation.form-control.col-md-7.col-xs-12{:type => "password", :name => "user[password_confirmation]", :id => "user_password_confirmation"}/
                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "current_password"}
                    Current password
                    %span.required
                  .col-md-6.col-sm-6.col-xs-12
                    %input#current_password.form-control.col-md-7.col-xs-12{:type => "password", :name => "user[current_password]", :id => "user_current_password"}/

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    %button.btn.btn-success{:type => "submit"} Submit
