.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title{:style => "border: 0;"}
      %a.site_title{:href => root_path}
        = image_tag "logo.png", size: "34x34"
        %span Champs
    .clearfix

    .profile
      .profile_pic
        = image_tag avatar_url, :class => "img-circle profile_img"
      .profile_info
        %span Welcome,
        %h2= current_user.username

    %br/
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %h3 General
        %ul.nav.side-menu
          %li{:class => active_menu_if("static_pages")}
            %a
              %i.fa.fa-home
              Home
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => root_path} Summary

          %li{:class => active_menu_if("absence")}
            %a
              %i.fa.fa-calendar-check-o
              Absences
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => absences_path} All
              %li
                %a{:href => new_absence_path} Request an absence

          %li{:class => active_menu_if("registrations")}
            %a
              %i.fa.fa-wrench
              Settings
              %span.fa.fa-chevron-down
            %ul.nav.child_menu
              %li
                %a{:href => edit_user_registration_path} Edit account
              %li
                %a{:href => edit_employee_path(current_user.employee)} Edit profile

      - if current_user.admin?
        .menu_section
          %h3 Admin section
          %ul.nav.side-menu
            %li
              %a
                %i.fa.fa-building-o
                Absence
                %span.fa.fa-chevron-down
              %ul.nav.child_menu
                %li
                  %a{:href => absences_path} All
                %li
                  %a{:href => absences_path} Pending absences
