.top_nav
  .nav_menu
    %nav{:role => "navigation"}
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.user-profile.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
            = image_tag avatar_url, size: "34x34"
            = current_user.username
            %span.fa.fa-angle-down
          %ul.dropdown-menu.dropdown-usermenu.pull-right
            %li
              %a{:href => edit_user_registration_path}
                %span Settings
            %li
              %a{:href => destroy_user_session_path, "data-method" => "delete"}
                %i.fa.fa-sign-out.pull-right
                Log Out
