- provide :body_class, "nav-md"

.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Add a new certificate
      .clearfix

      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_content
              %br/
              = form_for(@certificate, html: { class: "form-horizontal form-label-left", multipart: true }) do |f|
                = render "shared/error_messages", object: @certificate

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "tenants"}
                    Name
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-6.input-field
                    %input.form-control.col-md-7.col-xs-12{:placeholder => "Name the document", :name => "certificate[name]", :type => "text"}/

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "doc_type"}
                    Document type
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-12
                    %select#doc_type.form-control.col-md-7.col-xs-12{:required => "", :name => "certificate[doc_type_id]"}
                      - @doc_types.each do |type|
                        %option{:value => type.id}= type.name

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "expiry_date"}
                    Expiry date
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-12
                    #expiry_date.input-group
                      %input.form-control.col-md-7.col-xs-12{:type => "text", :name => "certificate[expiry_date]"}/
                      %span.input-group-addon
                        %i.fa.fa-calendar

                .form-group
                  %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "file"}
                    File
                    %span.required *
                  .col-md-3.col-sm-3.col-xs-12
                    %input.form-control.col-md-3.col-xs-12{:type => "file", :name => "certificate[file]"}/

                .ln_solid
                .form-group
                  .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                    %button.btn.btn-success{:type => "submit"} Submit

= javascript_include_tag "bootstrap-datetimepicker.min"

:javascript
  $(document).ready(function(){
    $('#expiry_date').datetimepicker({
      format: 'YYYY-MM-DD'
    });
  });
